body {
    font-family: arial, sans-serif;
    padding: 2rem;
    max-width: 80rem;
    margin: auto;
}

.chart {
    margin: 1rem 2rem;
    border: 2px solid black;
    border-spacing: 0;
    width: 100%;
}

.chart tbody th {
    width: 5rem;
    padding: 0.5rem;
    background: #f00;
}
.chart tbody th.s {
    background: rgb(117, 255, 99);
}
.chart tbody th.a {
    background: rgb(156, 255, 44);
}
.chart tbody th.b {
    background: rgb(235, 255, 52);
}
.chart tbody th.c {
    background: rgb(236, 178, 51);
}
.chart tbody th.d {
    background: rgb(235, 130, 44);
}
.chart tbody th.f {
    background: rgb(219, 68, 68);
}
.chart tbody th.uncategorized {
    background: rgb(172, 172, 172);
}

.chart tbody td {
    width: auto;
    background: #eee;
    display: flex;
    flex-wrap: wrap;
}

.chart td, .chart th {
    border-bottom: 1px solid #000;
}
.chart th {
    border-right: 1px solid #000;
}

.chart-item {
    width: 13em;
    margin: 0.25em;
    background: #fee;
    border: 1px solid black;
    padding: 0.25em;
    text-align: center;
}

.chart-item.missing {
    background: #f0f;
    min-height: 13em;
}

.chart-item .main {
    text-align: center;
}

.chart-item .comment {
    margin: 0.25em;
}

.chart-item img {
    max-width: 12em;
    max-height: 12em;
    margin: auto;
    text-align: center;
    display: block;
}

.chart-item .name {
    text-align: center;
}
.chart-item .urls {
    text-align: center;
}
.chart-item .urls img {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: middle;
}

.chart-item.status-ongoing {
    background: #fff;
}
.chart-item.status-completed {
    background: #cfe;
}

.chart-item.status-hidden, .chart-item.demographic-hidden, .chart-item.furigana-hidden, .chart-item.category-hidden {
    display: none;
}

.barchart {
    background: #000;
    padding: 1em;
}

.barchart .bar.s {
    fill: rgb(117, 255, 99);
}
.barchart .bar.a {
    fill: rgb(156, 255, 44);
}
.barchart .bar.b {
    fill: rgb(235, 255, 52);
}
.barchart .bar.c {
    fill: rgb(236, 178, 51);
}
.barchart .bar.d {
    fill: rgb(235, 130, 44);
}
.barchart .bar.f {
    fill: rgb(219, 68, 68);
}
.barchart .bar.uncategorized {
    fill: rgb(172, 172, 172);
}

section.taxonomy {
    display: flex;
    flex-wrap: wrap;
}
section.taxonomy .term {
    border:1px solid #229;
    flex: 1 calc(25% - 4px - 0.5em);
    margin: 0.25em;
}
section.taxonomy .term:not(:first-of-type):not(:nth-of-type(5)) {
    
}
section.taxonomy .term header {
    background: #239;
    display: block;
    padding: .25em;
    border-bottom: 2px solid #923;
    color: #fff;
    font-weight: bold;
}
section.taxonomy .term header a {
    color: #fff;
    font-weight: bold;
}
section.taxonomy .term ul {
    margin: 0.5em 0.5em;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
section.taxonomy .term ul li {
    margin: 0em .5em;
}

div.manga-container {
    display: flex;
}

div.manga-container .cover {
    text-align: center;
}

div.manga-container td, div.manga-container th {
    padding: 0.25em 0.5em;
}

div.manga-container th {
    text-align: right;
}

div.manga-container ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
}

div.manga-container li {
    margin-right: 0.25em;
}

.spoiler {
    background: #000;
    color: #000;
    display: inline-block;
}
.spoiler:hover {
    color: #fff;
}

.spoiler::before {
    content: "[spoiler]";
    margin-right: 0.25em;
    color: #fff;
}

ul.inlinelist {
    list-style: none;
}
ul.inlinelist li {
    display: inline-block;
}
ul.inlinelist li:not(:last-of-type)::after {
    content: ","
}

.screenshot-gallery {
    display: flex;
    flex-flow: wrap;
}

figure {
    border: 1px solid #888;
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
}

figcaption {
    background: #000;
    color: #fff;
    padding: 0.25em;
    text-align: center;
}

.chart-item .icons img {
    flex: 0;
    display: inline-block;
}