{{$chart_count := 0 }}
{{ range $key, $categories := (sort $.Site.Data.categories "order" "asc" ) }}
    {{- $items := (index $.Params .folder) -}}
    {{ $chart_count = add $chart_count (len $items)}}
{{end}}

<svg class="barchart" width="400" height="140" aria-labelledby="title" role="img">
    <title id="title">A barchart showing how many are in each category</title>
    {{ $bar_height := 20 }}
    {{ range $key, $categories := (sort $.Site.Data.categories "order" "asc" ) }}
    {{- $items := (index $.Params .folder) -}}
    {{- $num_items := (len $items) -}}
    {{- $bar_scale := (mul (div $num_items (float $chart_count)) 500) -}}
    <g class="bar {{.folder}}">
        <rect x="30" width="{{ $bar_scale }}" height="{{ $bar_height }}" y="{{ (mul $bar_height $key) }}"></rect>
        <text y="{{ add (mul $bar_height $key) 10 }}" dy=".35em">{{ .name }}</text>
        <text y="{{ add (mul $bar_height $key) 10 }}" x="{{ add $bar_scale 35 }}" dy=".35em">{{ $num_items }}</text>
    </g>
    {{ end }}
</svg>