<head>
    <meta charset="utf-8">
    <title>{{- block "title" . }}{{ .Site.Title }}{{- end }}</title>
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS (dict "outputStyle" "compressed" "enableSourceMap" true ) }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <script type="text/javascript" src="/tier/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/tier/js/imagesloaded.pkgd.min.js"></script>
</head>