<a href="{{.Permalink}}">
{{- with $img := .Resources.GetMatch "cover.*" -}}
{{- $thumb := ($.Resources.GetMatch "cover.*").Resize "x300" -}}
<img src="{{$thumb.Permalink}}" alt="cover picture" class="cover manga">
{{ else }}
<img alt="no cover picture" class="cover manga">
{{ end }}
</a>