{{ define "main" }}
  <h1>{{.Title}}</h1>

  <p class="description">
    {{.Description}}
  </p>

  <ul>
  {{ range .Data.Pages }}
    <li><a href={{ .Permalink }}>{{ .LinkTitle }}</a></li>
  {{ end }}
  </ul>
{{ end }}