{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <h1>{{.Title}}</h1>

    <div class="manga-container">
        <div class="cover">
            {{ .Render "cover" }}
            {{- with $img := .Resources.GetMatch "cover.*" -}}<br><a href="{{.}}">full size cover</a>{{end}}
        </div>
        <div class="info">
            <table>
                <tr>
                    <th>Status</th>
                    <td><ul>
                        {{ range (.GetTerms "statuses") }}
                        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                        {{ else }}
                        <li>Unknown</li>
                        {{ end }}
                    </ul></td>
                </tr>

                <tr>
                    <th>Categories</th>
                    <td><ul>
                        {{ range (.GetTerms "categories") }}
                        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                        {{ else }}
                        <li>Unknown</li>
                        {{ end }}
                    </ul></td>
                </tr>

                <tr>
                    <th>Demographics</th>
                    <td><ul>
                        {{ range (.GetTerms "demographics") }}
                        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                        {{ else }}
                        <li>Unknown</li>
                        {{ end }}
                    </ul></td>
                </tr>

                <tr>
                    <th>Furigana</th>
                    <td><ul>
                        {{ range (.GetTerms "furigana") }}
                        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                        {{ else }}
                        <li>Unknown</li>
                        {{ end }}
                    </ul></td>
                </tr>

                <tr>
                    <th>External Links</th>
                    <td><ul>
                        {{ range $key,$value := .Params.links }}
                        <li><a href="{{$value}}">{{upper $key}}</a></li>
                        {{ else }}
                        <li>Unknown</li>
                        {{ end }}
                    </ul></td>
                </tr>
            </table>
        </div>
    </div>

    

    <p>
       {{ .Content }}
    </p>

    <h2>In The Following Lists</h2>
    <ul>
        {{- $categories := (sort $.Site.Data.categories "order" "asc") -}}

        {{- range $list := where $.Site.RegularPages "Section" "list" -}}
            {{- range $categories -}}
                {{- $category := . -}}
                {{- if in (index $list.Params $category.folder) $.File.ContentBaseName -}}
                    <li><a href="{{- $list.Permalink -}}">{{- $list.LinkTitle -}}</a> - Tier: {{ $category.name -}}</li>
                {{- end -}}
            {{- end }}
        {{- end -}}
    </ul>

    <h2>Screenshots</h2>
    <div class="screenshot-gallery">
    {{- range $screenshots := sort (.Resources.Match "screenshots/*") -}}
        {{- $thumb := .Resize "x300" -}}
        <figure>
        <a href="{{ .RelPermalink }}"><img src="{{$thumb.RelPermalink}}" alt="{{.Name}}" class="screenshot"></a>
        <figcaption>{{ replace .Name "screenshots/" "" }}</figcaption>
        </figure>
    {{ end }}   
    </div>

{{ end }}