{{ define "main" }}
    <h1>{{.Site.Title}}</h1>

    {{ .Content }}

    <h2>A list of tierlists</h2>
    <ul class="listing">
        {{ range where .Site.RegularPages "Section" "list" }}
            <li><a href="{{.Permalink}}">{{ .LinkTitle }}</a>{{ with .Description }} - {{.}}{{end}}</li>
        {{ end }}
    </ul>

{{ end }}